<nav   class="   navbar navbar-expand-lg navbar-light  shadow ">
    <div  class="  container-fluid">
      <a  class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </button>
      <div  class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-light " aria-current="page" href="{{url_for('Home')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="{{url_for('About')}}">About</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-light " href="{{url_for('Teachers')}}" >Teachers</a>
          </li>
          <li class="nav-item">
              <a class="nav-link text-light " href="{{url_for('Contact')}}" >Contact</a>
          </li>
        </ul>
        
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row" data-container="container">
        
            
                <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">

    
    


<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="saaa" data-visible-on="-" data-animation="">
<div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_2"><span class="moto-color1_3"><span class="fa"></span>&nbsp;&nbsp;</span>6767 Santa Monica Blvd, Los Angeles, CA 90038</p></div>
</div></div><div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">

    
    


<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="saaa" data-visible-on="-" data-animation="">
<div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_12" style="text-align: right;"><span class="moto-color1_3"><span class="fa"></span>&nbsp;&nbsp;</span>Call Now <a href="tel:1234567890" data-action="call" class="moto-link">123-456-7890</a></p></div>
</div></div><div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top"><div data-widget-id="wid_1623160783_quqf2aelh" class="moto-widget moto-widget-paypal_button moto-preset-default moto-align-right moto-align-center_mobile-h moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="paypal_button" data-preset="default">
                <form action="https://www.paypal.com/cgi-bin/webscr" target="_blank" class="moto-widget-paypal_button__form ng-pristine ng-valid">
        <input type="hidden" name="charset" value="utf-8">
                        <input type="hidden" name="cmd" value="_donations">
                                                    <input type="hidden" name="business" value="">
        <input type="hidden" name="item_name" value="">
        <input type="hidden" name="currency_code" value="USD">
                                                            <div class="moto-widget moto-widget-button  moto-preset-custom_60bf2c85b6036 moto-preset-provider-custom">
                <button name="submit" class="moto-widget-button-link moto-size-small">
                    <span class="fa moto-widget-theme-icon"></span>
                    <span class="moto-widget-button-label">Donate</span>
                </button>
            </div>
                </form>
</div>
<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="lala" style="" data-bg-position="left top" data-draggable-disabled="">
    
        
        
        
    
    
  <div class="container-fluid">
      <div class="row" data-container="container">
          
              
                  <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
  
      
      
  
  
<div data-widget-id="wid_1623682555_tm2611mv2" class="moto-widget moto-widget-button moto-preset-custom_60c76b0155c0d moto-preset-provider-custom moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="button">
          <a href="#" data-action="url" class="moto-widget-button-link moto-size-small moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">WELCOME</span></a>
  </div><div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-visible-on="-" data-animation="" data-draggable-disabled="">
  <div class="moto-widget-text-content moto-widget-text-editable" aria-multiline="true"><h1 class="moto-text_system_1">ACADEMIC CHESS FOR <span class="moto-color1_3"><em>EVERYONE</em></span></h1><p class="moto-text_system_14"><br></p><p class="moto-text_system_14">We are dedicated to broadening and developing chess as art, recreation, and as a significant element of culture in Northern California.</p></div>
</div><div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="md" data-widget="row" data-visible-on="-" data-spacing="aaaa" style="" data-bg-position="left top">
  
      
      
      
  
  
  <div class="container-fluid">
      <div class="row" data-container="container">
          
              
                  <div class="moto-widget moto-widget-row__column moto-cell col-md-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
  
      
      
  
  
<div data-widget-id="wid_1623163344_4g1agwxnt" class="moto-widget moto-widget-button moto-preset-default moto-preset-provider-default moto-align-left moto-align-center_mobile-h moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="button">
          <a href="/registration/" data-action="page" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">Enroll Now</span></a>
  </div></div><div class="moto-widget moto-widget-row__column moto-cell col-md-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
  
      
      
  
  
<div data-widget-id="wid_1623163372_0moxx88om" class="moto-widget moto-widget-button moto-preset-custom_60bf2c7623e90 moto-preset-provider-custom moto-align-left moto-align-center_mobile-h moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="button">
          <a href="/about/" data-action="page" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">Learn More</span></a>
  </div></div>

              
          
      </div>
  </div>
</div></div><div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
  
  <div class="moto-sticky-pseudo-element" style="display: none; height: 0px; width: 1116px;"></div>
      
  
  
</div>
<div class="moto-widget moto-widget-row row-fixed moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-visible-on="-" data-spacing="lala" style="" data-bg-position="left top" data-draggable-disabled="">
    
        
        
        
    
    
  <div class="container-fluid">
      <div class="row" data-container="container">
          
              
                  <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
  
      
      
  
  
<div data-widget-id="wid_1623682555_tm2611mv2" class="moto-widget moto-widget-button moto-preset-custom_60c76b0155c0d moto-preset-provider-custom moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="button">
          <a href="#" data-action="url" class="moto-widget-button-link moto-size-small moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">WELCOME</span></a>
  </div><div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-visible-on="-" data-animation="" data-draggable-disabled="">
  <div class="moto-widget-text-content moto-widget-text-editable" aria-multiline="true"><h1 class="moto-text_system_1">ACADEMIC CHESS FOR <span class="moto-color1_3"><em>EVERYONE</em></span></h1><p class="moto-text_system_14"><br></p><p class="moto-text_system_14">We are dedicated to broadening and developing chess as art, recreation, and as a significant element of culture in Northern California.</p></div>
</div><div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="md" data-widget="row" data-visible-on="-" data-spacing="aaaa" style="" data-bg-position="left top">
  
      
      
      
  
  
  <div class="container-fluid">
      <div class="row" data-container="container">
          
              
                  <div class="moto-widget moto-widget-row__column moto-cell col-md-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
  
      
      
  
  
<div data-widget-id="wid_1623163344_4g1agwxnt" class="moto-widget moto-widget-button moto-preset-default moto-preset-provider-default moto-align-left moto-align-center_mobile-h moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="button">
          <a href="/registration/" data-action="page" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">Enroll Now</span></a>
  </div></div><div class="moto-widget moto-widget-row__column moto-cell col-md-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
  
      
      
  
  
<div data-widget-id="wid_1623163372_0moxx88om" class="moto-widget moto-widget-button moto-preset-custom_60bf2c7623e90 moto-preset-provider-custom moto-align-left moto-align-center_mobile-h moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="button">
          <a href="/about/" data-action="page" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">Learn More</span></a>
  </div></div>

              
          
      </div>
  </div>
</div></div><div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">
  
      
      
  
  
</div>

              
          
      </div>
  </div>
</div>
              
          
      </div>
  </div>
</div>
    
    


</div>

            
        
    </div>
</div>